body{
    background-color: white;
    color: #3C3C3C;
    line-height: 1.8;
    text-align: center;
}

p{
    text-shadow: 1px 1px 1px grey;
}

h1, h2{
    background-color: gray;
    color: honeydew;
    padding: 1.5%;
    box-shadow: 2px 5px 10px black;
    text-shadow: 3px 2px 6px black;
    border-radius: 25px;
    margin: 5%;
}

.links{
    background-color: gray;
    box-shadow: 2px 5px 10px white;
    text-shadow: 3px 2px 6px black;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: large;
    color: white;

}

footer{
    height: 50px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: darkgrey;
}

.dark-mode{
    background-color: #3C3C3C;
    color: white;
}

.sport{
    background-color: greenyellow;
}

.action{
    background-color: hotpink;
}

.soL{
    background-color: skyblue;
}

.komödie{
    background-color: orange;
}

article{
    display: grid;
    grid-template-columns: 2.5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 2.5%;
    position: static;
    padding: 20px;
    margin-inline-start: 5%;
    margin-inline-end: 10%;
    text-align: justify;
}

#oneFromOne{
    grid-column-start: 8;
    grid-column-end: 15;
}

#oneFromTwo{
    grid-column-start: 2;
    grid-column-end: 10;
}

#twoFromTwo{
    grid-column-start: 13;
    grid-column-end: 21;
}

#oneFromThree{
    grid-column-start: 3;
    grid-column-end: 8;
}

#twoFromThree{
    grid-column-start: 9;
    grid-column-end: 14;
}

#threeFromThree{
    grid-column-start: 15;
    grid-column-end: 20;
}